#about {
  max-width: 800px;
  margin: auto;
}

#about p {
  font-size: 19px;
}

img#lead-img {
  max-width: 300px;
  margin: auto;
  display: block;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 21px;
}
