body {
  background: linear-gradient(90deg, #fba025, #f47b25);
  padding: 20px;
}

body,
h2,
p {
  color: #5e0830;
  font-family: "proxima-nova", sans-serif;
}

#home-promo h2 {
  font-size: 40px;
  line-height: 1;
  font-weight: normal;
}

#home-promo h2 span {
  font-size: 60px;
  font-weight: bold;
}

.options {
  display: flex;
  gap: 80px;
}

@media (max-width: 650px) {
  .options {
    flex-direction: column;
  }
}

.celebration-option {
  flex: 1;
}

.celebration-option img {
  width: 100%;
  max-width: 400px;
}

.celebration-option h3 {
  font-size: 30px;
}

.celebration-option h3  span {
  display: block;
  font-size: 22px;
}

#drink-icon {
  height: 180px;
  margin-top: 80px;
}

#home-promo {
  text-align: center;
  max-width: 80vw;
  margin: auto;
}

#home-promo p {
  font-size: 24px;
}

.cta-button {
  font-size: 24px;
  background-color: #5e0830;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
}

#home-alt-ctas .cta-button {
  background-color: transparent;
  font-size: 19px;
  border: 1px solid #5e0830;
  color: #5e0830;
}

#home-alt-ctas {
  display: flex;
  flex-wrap: wrap;
  max-width: 750px;
  margin: 140px auto 20px;
  align-items: initial;
  justify-content: center;
}

#home-ctas a {
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  #home-promo h2 {
    font-size: 50px;
  }

  #home-promo h2 br {
    display: none;
  }

  #home-alt-ctas a {
    display: block;
    flex: 1 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}

footer {
  margin: 140px 20px 40px 20px;
  font-size: 18px;
  text-align: center;
}

#sponsor-logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 650px) {
  #sponsor-logos {
    flex-direction: column;
    align-items: center;
  }
}

#sponsor-logos img {
  width: 250px;
}

#home-button {
  text-align: center;
  margin: 40px;
}

#home-button a {
  border: 1px solid #5e0830;
  color: #5e0830;
  padding: 5px 20px 10px;
  border-radius: 110px;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.4s;
}
#home-button a:hover {
  background-color: #5e0830;
  color: white;
}
